---
import ArrowUpRight from '~/icons/arrow-up-right';
import Github from '~/icons/github';
import { getCollection } from 'astro:content';
import { useLocale } from '../../i18n/context';
import Layout from '../../layouts/Layout.astro';
import { t } from '../../i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = useLocale(Astro)

const colSpanClasses = [
	'col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-3',
	'col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2',
	'col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2',
	'col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-3'
]

const projects = await getCollection('projects', (entry) => entry.id.split('/')[0] === lang)
const featuredProjects = projects.filter(project => project.data.featured)
const sortedFeaturedProjects = featuredProjects.sort((a,b) => a.id.localeCompare(b.id))

---

<Layout>
	<div class="w-full pt-24 flex justify-center">
		<div class="w-full lg:w-5xl lg:mx-20 mx-5 flex flex-col gap-8 items-center text-center">
			<h1 class="font-satoshi text-6xl text-typography-main font-bold">
				{t(lang, 'landing.title')}
				<span class="block tracking-tighter text-3xl mt-4 font-medium">{t(lang, 'landing.subtitle')}</span>
			</h1>
			<div class="text-base font-medium">
				<p class="text-typography-secondary text-lg">
					{t(lang, 'landing.tagline')}
				</p>
				<p class="text-typography-secondary">
					{t(lang, 'landing.subTagline')}
				</p>
			</div>
			<div class="flex items-center gap-4">		
				<a class="btn btn-bg-gradient hover:bg-surface-elevated text-white shadow-[0_1px_#fffa_inset] hover:shadow-none hover:-translate-y-0.5 transition-all duration-75 ease-in" href={getRelativeLocaleUrl('es', '/docs/introduction')}>{t(lang, 'landing.cta')}</a>
				<a class="btn btn-social" target="_blank" href="https://github.com/IgnacioSotelo5">
					<Github size={18} />
					<span>Github</span>
				</a>
			</div>		
			<div class="w-full min-h-[600px] py-3 flex flex-col items-center gap-6 justify-start rounded-lg">
				<h2 class="font-satoshi text-4xl font-semibold text-typography-main">{t(lang, 'landing.proyectsSection.title')}</h2>
				<div class="w-full h-full">
					<div class={`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 lg:px-10 auto-rows-fr gap-4 h-full`} id="featured-projects">
					{
						sortedFeaturedProjects.map(({data, id}, index) => (
							<div class={`md:gap-4 min-h-[25rem] md:min-h-auto shadow-[-1px_-3px_12px_#0004] dark:shadow-none md:shadow-none bg-surface-card md:bg-transparent rounded-md ${colSpanClasses[index]}`}>
								<div class={`cursor-pointer rounded-md md:aspect-auto md:h-[300px] min-h-[450px] md:min-h-auto h-full lg:h-full md:flex lg:aspect-auto group w-full`} id={id}>
									<div class="md:relative flex flex-col md:flex-row flex-1 md:gap-6 h-full w-full rounded-md">
											<img 
												loading="lazy"
												src={data.image} 
												alt={data.title ?? "Project preview"} 
												class="lg:absolute lg:inset-0 md:w-auto lg:w-full lg:h-full md:h-auto rounded-b-none md:rounded-b-md rounded-md transition-all duration-700 ease-out aspect-[4/3]"
											/>
											<div class="absolute hidden lg:flex gap-4 bg-black/20 dark:bg-black/40 inset-0 transition-all duration-300 ease-in group-hover:bg-transparent items-center justify-center rounded-md">
												{
													data.demo ? (
													<a href={data.demo} target="_blank" class="text-typography-inverse dark:text-typography-main invisible group-hover:visible bg-slate-900/80 px-2 py-1 text-sm font-semibold outline-1 -outline-offset-2 outline-slate-200/25  rounded-xl flex items-center gap-2">
														{data.title}
														<ArrowUpRight size={16}/>
													</a>
												) : (
													<a href={data.repositories[0].url} target="_blank" class="text-typography-inverse dark:text-typography-main invisible group-hover:visible bg-slate-900/80 px-2 py-1 text-sm font-semibold outline-1 -outline-offset-2 outline-slate-200/25  rounded-xl flex items-center gap-2">
														{t(lang, 'landing.proyectsSection.proyectsCardCTA')}
														<ArrowUpRight size={16}/>
													</a>
												)
												}
											</div>
											<div class="text-left flex-1 lg:hidden px-4 pt-2 pb-6 flex flex-col justify-between">
												<div class="space-y-6 text-pretty">
													<h4 class="font-semibold mb-2">
														{data.title}
													</h4>
													<p class="dark:text-typography-secondary max-w-full text-pretty font-medium text-sm">
														{data.description}
													</p>
												</div>
												<div class="flex items-center gap-2 mt-6">
													{
														data.demo && (
														<a href={data.demo} target="_blank" class="btn btn-cta text-typography-inverse">
															<ArrowUpRight size={16} />
															Preview
														</a>
													)
													}
													<a href={data.repositories[0].url} target="_blank" class="btn btn-social">
														<Github size={16} />
														Code
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
						))
					}
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>